@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

p {
  overflow-wrap: break-word;
  margin: 0px;
}

.App {
  background-image: url("./assets/bg.jpg");
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoForm {
  text-align: center;
  background-color: white;
  /* height: auto;
  width: auto; */
  border-radius: 7px;
  padding: 15px 25px;
}

.todo {
  margin: 17px 2px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
}

.todoInput {
  /* background-color: #f2f2f2; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoInput input {
  width: 324px;
  padding: 9px 7px;
}

.todoInput button {
  padding: 9px 10px;
  color: #fff;
  background-color: #ff984d;
  cursor: pointer;
}

.todoInput button:hover {
  background-color: #fff;
  color: #ff9848;
  transition: all 0.3s ;
  border: 1px solid brown;
}

.btn {
  padding: 9px 10px;
  color: #fff;
  background-color: #ff984d;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: #ff9848;
  transition: all 0.3s;
  border: 1px solid brown;
}

@media only screen and (max-width: 480px) {
  .todoForm {
    width: 84%;
  }

  .todoInput input {
    width: auto;
    padding: 5px 5px;
  }
  .todoInput button{
    padding: 5px 5px;
  }
  .btn{
    padding: 5px 0px;
  }
}
